{% extends "network/layout.html" %}

{% block body %}

    <div id="following_post_view" style="margin:1%;">
        
        {% for post in page_obj %}
        <div style="border: 1px solid lightgray; border-radius: 10px; margin-left: 2%; margin-top: 1%; width:95%; ">
            <form style="padding: 2%;" method="POST">
                {% csrf_token %}
                <a href="{% url 'profile' post.author %}"><b>{{post.author}}</b></a><br>
                {{post.content}}<br>
                <input name="original_post" type="hidden" value="{{post.content}}">
                {% if post.updated_at %}
                {{post.updated_at}}(edited)
            {% else %}
                {{post.created_at}}
            {% endif %}
            <br>
            {% if user in post.likes.filter %}  
            <button name="unlike" style="color: red; background: none; border: none;" title="Unlike" id="unlike">&hearts; <span style="color: grey;">{{post.likes.count}}</span> </button>  
            {% else %}
            <button name="like" style="color: grey; background: none; border: none; " title="Like" id="like">&hearts; {{post.likes.count}}</button>
            {% endif %}
            </form>

    </div>
    {% endfor %}

    <br>
    <div class="pagination" style="margin-left: 50%">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}